extends ../../template/_layout

block pageVar
	-
		page = 'brands';

block path
	-
		baseDir = '/f';

block title
	-
		title = 'Brands';

block text
	-
		var topText = 'We produce and supply world-famous spirits to 86 countries. We are a key manufacturer of vodka in the domestic market* and the largest manufacturer of premium Russian vodka in the world**';

block page
	section.catalog-brands.brands
		.container
			nav.breadcrumbs.js-opacity(class=`${page}__breadcrumbs`)
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Brands
					li.breadcrumbs__item
						span.breadcrumbs__link Russian Vodka
			.catalog-brands__filter.filter
				.filter__spirit.spirit
					.spirit__title.filter-title Spirit
					select.spirit__select.select.filter-select
						option(disabled) Russian Vodka
						option Russian Vodka
						option Polish vodka
						option Wines
						option Sparkling wines
						option Ready-to-Drink
						option Whisky
						option Vermouth
				.filter__countries
					.countries__title.filter-title Countries
					select.countries__select.select.filter-select
						option(disabled) All countries
						option All countries
						option Russian
						option Polish
				.filter__search
					.filter__search-title.filter-title Searh for brand
					input(type="text" placeholder="Brand name").filter__search-input
					button(type="submit").filter__search-btn.animate-button
						span.filter__search-btn-text Search
			h2.catalog-brands__title Russian Vodka
			.catalog-brands__wrap.brands__wrap.js-list-wrap
			p.brands__sub-text *EGAIS, 2019 **IMPACT, 2020
