.header
	width: 100%
	padding: 60px 0;
	position relative
	z-index 1
	transition: all 0.8s ease 0s;
	transform: translate(0px, 0px)

	@media $md
		padding 30px 0

	&__container
		@media $md
			display grid
		@media $xs
			padding: 0 20px

	&__active
		transform: translate(0px, -120%);

	&__wrap
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		justify-content: center
		position: relative
		padding-bottom: 70px

		@media $md
			justify-content: flex-start

		@media $xs
			padding-bottom 10px

	&__logo-wrap
		max-width: 217px
		margin-left: auto
		margin-right: auto
		margin-bottom 70px

		@media $md
			max-width: 172px
			margin 0

	&__search
		display: flex
		flex-direction: row
		position: absolute
		top: 0
		right 0

		@media $md
			display none

	&__input
		fz-15()
		line-height: 18px
		font-weight: bold
		width: 65px
		border: 0
		border-radius: 0
		background: none
		color: $white
		outline: none

		&::placeholder
			color: $white

	&__search-icon
		max-width: 16px
		fill: $white

	&__search-btn
		display: flex
		flex-direction: row
		align-items: center
		margin-left: 11px
		background: none
		border: 0
		cursor pointer

	&__burger-btn
		display: none
		background: 0
		border: 0
		position relative

		@media $md
			display: flex
			align-items: center
			margin-left: auto
			width 22px
			height 14px
			cursor pointer

	&__burger-btn > span,
	&__burger-btn > span::before,
	&__burger-btn > span::after
		display: block
		position absolute
		width: 100%
		height 3px
		background $white
		transition-duration: 0.2s

	&__burger-btn > span::before
		content: ''
		top -8px

	&__burger-btn > span::after
		content: ''
		top 8px

	&__burger-btn--active > span
		transform rotate(45deg)

	&__burger-btn--active > span::before
		top: 0;
		opacity: 0
		transform: rotate(0);

	&__burger-btn--active > span::after
		top: 0;
		transform: rotate(90deg);

.nav
	width: 100%

	@media $md
		display none

	&__list
		list-style: none
		padding: 0
		margin: 0
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		justify-content space-between

	&__item
		width: fit-content

		&:not(:last-child)
			margin-right: 71px

			@media $lg
				margin-right 2%

	&__link
		fz-15()
		line-height: 18px
		text-decoration: none
		color: $white
		font-weight: bold
		display block
		border-bottom 2px solid transparent
		padding-bottom 5px

		&:hover,
		&:focus
			border-color: $white
