.header
	width: 100%
	padding: 60px 0;
	position relative
	z-index 2
	transition: all 0.8s ease 0s;
	transform: translate(0px, 0px)

	@media $md
		padding 30px 0

	&__container
		@media $md
			display grid

		@media $xs
			padding: 0 20px

	&__active
		transform: translate(0px, -120%);

	&__wrap
		display: grid
		position: relative
		padding-bottom: 70px

		@media $md
			grid-template-columns: 1fr 1fr

		@media $xs
			padding-bottom 10px

	&__logo-wrap
		max-width: 217px
		margin-left: auto
		margin-right: auto
		margin-bottom 70px

		@media $md
			max-width: 172px
			margin 0

	&__search
		display: flex
		flex-direction: row
		position: absolute
		top: 0
		right 0

		@media $md
			position static

		@media $b-sm
			justify-content: center

	&__search-btn
		display: flex
		flex-direction: row
		align-items: center
		background: none
		border: 0
		cursor pointer

		@media $md
			border 2px solid $white
			padding 15px
			margin 0 auto

	&__search-text
		fz-15()
		line-height 120%
		font-weight 700
		color $white
		font-family $Inter

	&__search-icon
		max-width: 16px
		fill: $white
		margin-left 11px

		@media $md
			margin-left 30px

	&__burger-btn
		display: none
		background: 0
		border: 0
		position relative

		@media $md
			display: flex
			align-items: center
			margin-left: auto
			width 22px
			height 14px
			cursor pointer

	&__burger-btn > span,
	&__burger-btn > span::before,
	&__burger-btn > span::after
		display: block
		position absolute
		width: 100%
		height 3px
		background $white
		transition-duration: 0.2s

	&__burger-btn > span::before
		content: ''
		top -8px

	&__burger-btn > span::after
		content: ''
		top 8px

	&__burger-btn--active > span
		transform rotate(45deg)

	&__burger-btn--active > span::before
		top: 0;
		opacity: 0
		transform: rotate(0);

	&__burger-btn--active > span::after
		top: 0;
		transform: rotate(90deg);

	&__content-box
		@media $md
			display none

			.header__burger-btn--active + &
				display flex
				flex-direction: column-reverse
				grid-column: 1/-1

.nav
	width: 100%

	&__list
		list-style: none
		padding: 0
		margin: 0
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		justify-content space-between

		@media $md
			padding: 107px
			display: grid
			grid-template-columns: repeat(auto-fill, 50%)
			justify-items center
			row-gap: 75px

		@media $xs
			grid-template-columns: 1fr
			padding: 80px 10px
			row-gap: 40px

	&__item
		width: fit-content

		&:not(:last-child)
			margin-right: 71px

			@media $lg
				margin-right 2%

			@media $md
				margin: 0

	&__link
		fz-15()
		line-height: 18px
		text-decoration: none
		color: $white
		font-weight: bold
		display block
		border-bottom 2px solid transparent
		padding-bottom 5px

		&:hover,
		&:focus
			border-color: $white
