.box__content--media
    & .top
        @media $md
            padding-bottom 204px
        @media $xs
            max-width 50%
            padding-bottom 80px
    & .top__title 
        margin-top -53px
        padding-bottom 12px
        @media $md
            margin-top 0
            padding-bottom 0
    & .box__top--media
        background-position center
    & .popup-form__fieldset
        display flex
        flex-direction column
.media
    padding 70px 0 47px
    @media $md
        padding 40px 0
.media__btn-text
    position relative
    z-index 1
.media__subscription
    padding 0 0 50px
    @media $md
        padding 0 0 40px
.media__btn
    height auto
    padding 12px 58px
    margin-left auto
    @media $xs
        width 100%
.media__date
    font-family $Georgia
    font-weight 700
    font-size 14px
    line-height 29px
    color #ffffff
    margin-bottom 15px
.media__banner
    position relative
    z-index 0
    width 100%
    height 360px
    padding 30px 40px
    margin-bottom 5px
.media__banner::before
    content ''
    position absolute
    z-index -1
    top 0
    left 0
    width 100%
    height 100%
    background linear-gradient(90deg, #282E32 0%, rgba(39, 63, 80, 0) 61.94%)
.media__banner-img
    object-fit cover
    position absolute
    z-index -2
    top 0
    left 0
    width 100%
    height 100%
.media__banner-title
    max-width 270px
    font-size 21px
    line-height 29px
    color #ffffff
.media__list
    display grid
    grid-template-columns repeat(3,33%)
    grid-template-rows repeat(2,minmax(360px,auto))
    column-gap 6px
    row-gap 6px
    list-style none
    padding 0
    margin 0
    @media $md
        grid-template-columns repeat(2,50%)
        grid-template-rows repeat(3,minmax(360px,auto))
    @media $xs
        grid-template-columns repeat(1,100%)
        grid-template-rows repeat(5,minmax(280px,auto))
.media__item
    position relative
.media__item:nth-child(4)
    grid-column 1/3
    grid-row 2
    @media $md
        grid-row 3
    @media $xs
        grid-column 1
        grid-row 5
.media__item:nth-child(5) .media__item-img
    background-color #000000
.media__item-link
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    color #ffffff
.media__item-img
    position absolute
    z-index -2
    top 0
    left 0
    height 100%
    object-fit cover
.media__item-content
    position absolute
    z-index -1
    bottom 0
    left 0
    width 100%
    background rgba(0, 0, 0, 0.66)
    padding 20px 30px 24px
.media__item-content--big
    padding 31px 30px 36px
.media__item-content--big .media__item-text
    max-width 100%
    font-size 21px
    line-height 29px
.media__item-content--big .media__date
    margin-bottom 0
.media__item-text
    max-width 190px
    font-size 15px
    line-height 24px
.media__more
    padding 48px 0 0
    & .media__btn
        margin 0 auto