.box__top
	width: 100%

	&--brands
		background-image: url('/f/img/bg-brands.jpg')
		background-repeat: no-repeat
		background-size: cover

	&--partnership
		background-image url('/f/img/bg-partnership.jpg')
		background-repeat: no-repeat
		background-size: cover

.top
	width: 100%
	padding-bottom 61px

	&__title
		fz-75()
		line-height 100%
		font-family $Georgia
		color: $white
		padding-bottom: 20px
		text-transform: capitalize
		font-weight bold
		position relative
		z-index 1

		&--partnership
			padding-bottom 45px

	&__text
		fz-21()
		line-height 29px
		color: $white
		font-weight 500
		position relative
		z-index 1
		width: 70%

		&--partnership
			padding-bottom 152px
			width: 50%

	&__sub-title
		fz-33()
		color: $white
		font-family $Inter
		font-weight 900
		line-height 39px
		padding-bottom 35px
		text-align: left
		position relative
		z-index 1

	&__list
		list-style: none
		position relative
		z-index 1
		display: flex
		flex-direction: row
		align-items: center
		margin 0
		padding 0
		padding-bottom 20px

	&__item
		position relative
		display flex
		flex-direction: row
		align-items center
		max-width: 290px

		&:not(:last-child)
			margin-right 114px

			&::before
				content: ''
				position: absolute
				right: -(@margin-right / 2) - 10px
				top: 40%
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='24' viewBox='0 0 15 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L12 12L2 22' stroke='%238794A0' stroke-width='3'/%3E%3C/svg%3E%0A");
				background-position 0 0
				background-repeat: no-repeat
				background-size: 100%
				width: 10px
				height: 20px

	&__btn
		background: 0
		border-radius: 0
		cursor pointer
		border 0

	&__btn-text
		fz-15()
		color: $white
		line-height 18px
		padding 14px 34px
		background $orange
		display block
		font-weight bold

	&__item-text
		fz-15()
		color: $white
		line-height 24px
		font-weight 500

	&__icon
		min-width: 62px
		margin-right 20px
