.top
	width: 100%
	padding-bottom 61px

	&--brands
		&::before
			content: ''
			background-image: url('/f/img/bg-brands.jpg')
			background-repeat: no-repeat
			background-size: cover
			position absolute
			top 0
			left 0
			width: 100%
			height: 100%

	&__title
		fz-75()
		line-height 100%
		font-family $Georgia
		color: $white
		padding-bottom: 20px
		text-transform: capitalize
		font-weight bold
		position relative
		z-index 1

	&__text
		fz-21()
		line-height 29px
		color: $white
		font-weight 500
		position relative
		z-index 1
