.top
	width: 100%
	padding-bottom 61px
	position relative

	@media $lg
		padding-bottom 60px

	&__wrap
		width: 100%
		// position relative

		&--brands-item
			display: flex
			flex-direction: row
			flex-wrap: wrap
			align-items: flex-start
			justify-content: flex-start

			@media $lg
				flex-direction: column

			@media (max-width: 640px)
				align-items: center

		&--partnership
			@media $md
				width 50%

			@media $xs
				width 100%

		&--about-us
			width 50%

			@media $md
				width 40%

			@media $sm
				width 100%

	&__title
		fz-75()
		line-height 100%
		font-family $Georgia
		color: $white
		padding-bottom: 20px
		font-weight bold
		position relative
		z-index 1

		&--partnership
			padding-bottom 45px

			@media $md
				padding-bottom 10px

			@media (max-width 374px)
				font-size: 45px

		&--brands-item
			padding-bottom get-vw(30, 1680)
			font-size: get-vw(75, 1680)

			@media $lg
				fz-75()
				padding-bottom 30px

		&--about-us
			padding-bottom 45px

			@media $md
				padding-bottom 10px

		&--investors
			padding-bottom 45px
			letter-spacing: -1px

			@media $md
				padding-bottom 30px

	&__text
		fz-21()
		line-height 29px
		color: $white
		font-weight 500
		position relative
		z-index 1
		width: 100%

		&--brands
			width: 70%

		&--partnership
			padding-bottom 152px
			width: 50%

			@media $md
				width 100%
				padding-bottom 40px

		&--brands-item
			width: 100%
			padding-bottom 60px

			@media (min-width 1280px) and (max-width 1680px)
				font-size get-vw(15, 1680)
				padding-bottom 3.3333vh

			@media $lg
				fz-15()
				padding-bottom 60px

		&--career
			max-width: 443px

			&:not(:last-child)
				padding-bottom: 79px

		&--about-us
			padding-bottom 45px

		&--investors
			width 50%
			max-width 443px

			@media $sm
				width 100%

			&:not(:last-child)
				padding-bottom 30px

				@media $md
					padding-bottom 10px

	&__text--fz
		fz-15()
		line-height 24px
		font-family $Inter
		font-weight 500
		color $white
		width 50%
		max-width: 443px

		@media $sm
			width 100%

	&__sub-title
		fz-33()
		color: $white
		font-family $Inter
		font-weight 900
		line-height 39px
		padding-bottom 35px
		text-align: left
		position relative
		z-index 1

		@media $md
			padding-bottom

	&__list
		list-style: none
		position relative
		z-index 1
		display: flex
		flex-direction: row
		align-items: center
		margin 0
		padding 0
		padding-bottom 20px

		@media $md
			flex-direction: column
			align-items: flex-start

	&__item
		position relative
		display flex
		flex-direction: row
		align-items center
		max-width: 290px

		&:not(:last-child)
			margin-right 114px

			@media $md
				margin-right 0
				margin-bottom 54px

			&::before
				content: ''
				position: absolute
				right: -(@margin-right / 2) - 10px
				top: 40%
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='24' viewBox='0 0 15 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L12 12L2 22' stroke='%238794A0' stroke-width='3'/%3E%3C/svg%3E%0A");
				background-position 0 0
				background-repeat: no-repeat
				background-size: 100%
				width: 10px
				height: 20px

				@media $md
					right calc(50% - 5px)
					top: unset
					bottom: calc(-100% + 20px)
					transform: rotate(90deg)

	&__btn
		background: 0
		border-radius: 0
		cursor pointer
		border 0

	&__btn-text
		fz-15()
		color: $white
		line-height 18px
		padding 14px 34px
		background $orange
		display block
		font-weight bold

	&__item-text
		fz-15()
		color: $white
		line-height 24px
		font-weight 500

	&__icon
		min-width: 62px
		margin-right 20px

	&__link
		display: block
		text-align: center
		text-decoration: none
		border: 1px solid $white
		color: $white
		font-family $Inter
		font-weight bold
		max-width: 231px
		position relative

		&::before
			content: ''
			position: absolute
			width: calc(100% + 4px)
			height: 0%
			bottom: -1px
			left: -1px
			background: $orange
			transition: all 0.3s ease 0s
			color: $white

		&:hover
			background-clip: text

		&:hover::before
			height: calc(100% + 4px)
			margin: -1px

	&__link-text
		fz-15()
		display: block
		line-height 18px
		padding: 14px 58px
		position relative
		z-index 1

	&__content
		width: 100%
		position relative
		display block
		transition: all 1s ease 0s
		transform: translate(0px, 0px)

		&--brands-item
			max-width: 477px
			padding-bottom: 22px

			@media $lg
				max-width: 50%
				padding-bottom 70px

			@media (max-width 640px)
				max-width: 100%
				margin: 0

			&:not(:last-child)
				margin-right 117px

				@media (max-width 640px)
					margin: 0

	&__list-awards
		display: flex
		flex-direction: column
		max-width: 213px
		list-style: none
		padding 0
		margin 0
		z-index: 1
		position relative
		transition: all 1s ease 0s
		transform: translate(0px, 0px)

		@media $xl
			max-width get-vw(213, 1680)

		@media $lg
			flex-direction: row;
			flex-wrap: wrap;
			width: 50%;
			max-width: 100%;
			justify-content: flex-start;

		@media $sm
			width 70%

		@media (max-width: 640px)
			width 100%
			justify-content space-around

	&__item-awards
		width: 100%

		@media $lg
			max-width: 211px

		@media $md
			max-width: 162px

		&:not(:last-child)
			margin-bottom 57px

			@media $xl and (max-width: 1920px)
				margin-bottom 3.3333vh

			@media $lg
				margin-bottom 0
				margin-right 20px

			@media $sm
				margin-right 1%

	&__picture
		width 100%
		display flex
		justify-content: center

		& picture
			width 100%
			max-width: 226px
			transition: all 1s cubic-bezier(.55,.06,.68,.19) 0s

			@media (minw-width: 1280px) and (max-width: 1920px)
				max-width: get-vw(226, 1680)

	&__scroll-btn
		position fixed
		display: block
		margin: 0 auto
		margin-top: 66px
		width: 143px
		min-height: 50px
		left 0
		right 0
		bottom 0
		background: 0
		border: 0
		border-radius: 0
		opacity: 1
		transition: all 0.2s ease 0s

		@media $xl
			cursor pointer

		@media $lg
			position absolute
			margin-top 0

		@media (max-width: 640px)
			bottom -3px

		&:hover
			@media $xl
				width 160px

		& svg
			display: block
			width: 100%
			height: 100%

	&__scroll-btn--animate
		opacity 0

	&__img-item
		z-index 0
		top: 0
		right: 0
		width 50%
		position: absolute

		@media (max-width: 640px)
			position relative
			max-width: 164px
			margin-bottom -30%

	&__picture--animate
		opacity 0
		transition: all 1s ease 0s

	&__picture--animate > &__img-wrapper
		align-items flex-end

	&__picture--animate .top__picture
		width 100%
		max-width: 50%
		margin: 0 auto

		& picture
			width 16%
			transition: all 1s ease 0s

	&__img-wrapper
		align-items: flex-start

	&__sub-content
		display: flex
		flex-direction: row
		flex-wrap: wrap
		padding-bottom 30px

		@media $sm
			max-width: 182px

	&__sub-text-content
		display flex
		flex-direction: column
		margin-right: 30px

		@media $md
			margin-right 0
			margin-bottom 20px

	&__sub-text
		fz-15()
		line-height 24px
		font-weight 900
		font-family $Inter
		color $white
		text-align: left

		&:not(:last-child)
			padding-bottom 10px

	&__sub-text--font
		fz-13()
		line-height 20px
		font-weight 400
		opacity: 0.6
