footer.footer
	.container
		.footer__wrap(class=`${page}__footer-wrap`)
			.footer__content
				.footer__social
					ul.footer__social-list
						li.footer__social-item.footer__social-item--fb
							a.footer__social-link(href="#")
						li.footer__social-item.footer__social-item--inst
							a.footer__social-link(href="#")
						li.footer__social-item.footer__social-item--vk
							a.footer__social-link(href="#")
				.footer__copyright
					p.footer__copyright-text &copy;&nbsp;&laquo;Roust&raquo; 2021
			ul.footer__list.footer__list--grid-1
				li.footer__item
					a.footer__link(href="#") About us
				li.footer__item
					a.footer__link(href="#") Brands
				li.footer__item
					a.footer__link(href="#") Investors
				li.footer__item
					a.footer__link(href="#") Partners
			ul.footer__list.footer__list--grid-2
				li.footer__item
					a.footer__link(href="#") Social projects
				li.footer__item
					a.footer__link(href="#") Press center
				li.footer__item
					a.footer__link(href="#") Career
				li.footer__item
					a.footer__link(href="#") Contacts
			button.footer__btn.js-btn-top
				svg(width="14" height="9").footer__icon
						use(href="/f/img/sprite.svg#arrow-b")
