header.header.js-animate-header
	.container.header__container
		.header__wrap(class=`${page}__header-wrap`)
			.header__logo-wrap
				if (page != 'main-page')
					a.header__link(href=`../main-page/index.html`)
						img(src=`/f/img/roust-logo.png`)
				if (page == 'main-page')
					a.header__link(href="")
						img(src=`/f/img/roust-logo.png`)
			button.header__burger-btn.js-burger-btn
				span.header__burger-menu
			.header__content-box
				.header__search
					button.header__search-btn.js-search-btn
						span.header__search-text Search
						svg(width="16" height="16").header__search-icon
							use(href="/f/img/sprite.svg#search")
				nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href='#') About us
						li.nav__item
							a.nav__link(href=`../brands/index.html`) Brands
						li.nav__item
							a.nav__link(href='#') Investors
						li.nav__item
							a.nav__link(href='../partnership/index.html') Partnership
						li.nav__item
							a.nav__link(href='#') Social projects
						li.nav__item
							a.nav__link(href='#') Media Center
						li.nav__item
							a.nav__link(href='#') Career
						li.nav__item
							a.nav__link(href='#') Contacts
