block templates
	template.brands__template.js-owned-brands
		ul.brands__list.js-owned-list
			li.brands__item
				.brands__item-content
					h2.brands__item-title Russian vodka
					p.brands__item-text Our portfolio of Russian vodkas includes some of the best known and most loved brands in Russia, and 86 countries across the world.
					a.brands__link More
			li.brands__item
				.brands__item-content
					h2.brands__item-title Polish vodka
					p.brands__item-text We produce authentic Polish brands with more than 500 years of history, appreciated around the world.
					a.brands__link More
				.brands__img
					+picture('zubrowka-bottle', '', baseDir)
			li.brands__item
				.brands__item-content
					h2.brands__item-title Wines
					p.brands__item-text Our still wine portfolio is carefully crafted using traditional Italian wine making processes and includes wines with DOC and DOCG status.
					a.brands__link More
				.brands__img
					+picture('gancia-chianti-bottle', '', baseDir)
			li.brands__item
				.brands__item-content
					h2.brands__item-title Sparkling wines
					p.brands__item-text Founded in 1850, Gancia is the creator of the first Italian sparkling wine.
					a.brands__link More
				.brands__img
					+picture('gancia-bottle', '', baseDir)
			li.brands__item
				.brands__item-content
					h2.brands__item-title Ready-to-Drink
					p.brands__item-text Our Ready-to-Drink business is a category leader in Russia, producing well-known international drinks, and our own line of refreshing ready to consume cocktails.
					a.brands__link More
				.brands__img
					+picture('bravo-bottle', '', baseDir)
			li.brands__item
				.brands__item-content
					h2.brands__item-title Whisky
					p.brands__item-text Darrow is Roust Group’s first owned whisky brand. It is produced and bottled in one of Scotland's finest distilleries.
					a.brands__link More
				.brands__img
					+picture('whisky-bottle', '', baseDir)
			li.brands__item
				.brands__item-content
					h2.brands__item-title Vermouth
					p.brands__item-text The first ever Vermouth Bianco was created by Casa Gancia before 1890 and is made with Moscato Bianco grapes.
					a.brands__link More
				.brands__img
					+picture('gancia-bianko-bottle', '', baseDir)
