.about-us
	width 100%

	&__top-section
		@media $md
			padding-bottom 0

		@media $sm
			min-height: 639px

	&__header-wrap
		@media $md
			padding-bottom 20px

	& .container
		padding-top: 80px

		@media $md
			padding-top: 40px

	&__list
		padding 0
		margin 0
		list-style none
		counter-reset: aboutList

	&__item
		counter-increment: aboutList

		&:not(:last-child)
			padding-bottom 90px

			@media $md
				padding-bottom 70px

	&__item--margin
		@media $sm
			margin 0 -20px

	&__item-title
		fz-24()
		line-height 32px
		color: $orange
		font-family $Inter
		font-weight 700
		display flex
		align-items: center
		padding-bottom 42px

		@media $md
			padding-bottom 25px

		&::before
			fz-15()
			line-height 24px
			content: '0' counter(aboutList);
			margin-right: 29px
			font-family $Inter
			font-weight 500
			color: $m-grey

	&__item-title--padding
		padding-bottom 20px

		@media $lg
			margin-bottom: -70px
			position relative
			z-index 30

		@media $sm
			margin-bottom 0
			padding-right: 20px
			padding-left 20px

	&__item-wrap
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between

		@media $md
			flex-direction: column
			justify-content: flex-start

	&__sub-title
		fz-33()
		line-height 40px
		color $d-grey
		font-family $Inter
		font-weight 900
		max-width: 47%
		margin-right: 20px

		@media $md
			max-width 100%
			margin-right 0
			padding-bottom 20px
			text-align: left

	&__item-text
		fz-15()
		line-height 24px
		color: $d-grey
		font-family $inter
		font-weight 500
		max-width: 47%

		@media $md
			max-width: 100%
			text-align: left

	&__slider
		width 100%

	&__slider-wrapper
		width 100%

		&.swiper-wrapper
			align-items: flex-end

	&__slide
		display: grid

		&.swiper-slide
			@media $md
				height: auto
				max-width: 689px

			@media $sm
				max-width: 375px

			// align-items: flex-end

	&__slide-img
		grid-area: 1/-1

		& img,
		& picture
			height: 100%
			object-fit: cover

	&__slide-content
		grid-area: 1/-1
		width 50%
		padding: 118px 20px 20px 92px
		position relative
		display flex
		flex-direction: column
		justify-content: space-between

		@media $lg
			width 54%
			padding 103px 20px 20px 92px

		@media $md
			padding: 132px 20px 25px 60px
			width 55%

		@media $sm
			width 100%
			padding 20px

	&__slide-content--padding
		padding-top: 38px

		@media $lg
			padding-top 35px

		@media $md
			padding-top 53px

		@media $sm
			padding 20px

	&__slide-box
		width 100%

	&__slide-title
		fz-24()
		line-height 32px
		font-weight 700
		font-family $Inter
		color $d-grey

		&:not(:last-child)
			padding-bottom 25px

	&__slide-title--color
		color: $white

	&__slide-text
		fz-15()
		line-height 24px
		color: $d-grey
		font-family $Inter
		font-weight 500

	&__slide-text--color
		color $white

	&__slide-num
		font-size: 220px
		line-height 250px
		font-weight 700
		font-family $Georgia
		color $white
		opacity: 0.1
		position relative
		margin-top: -67px
		bottom: -67px
		user-select: none

		@media $lg
			font-size 80px
			line-height 100%
			margin-top 0
			bottom: 0

	&__slide-num--dark
		color $d-grey
		opacity: 0.08

	&__nav-btn
		background: $d-grey
		border: 0
		border-radius: 50%
		width: 65px
		height 65px
		position: absolute
		top: calc(50% - (65px / 2))
		display flex
		flex-direction: column
		align-items: center
		justify-content: center
		cursor pointer
		z-index 99
		opacity: 0.5

		&:disabled
			opacity 0.2

		&--right
			right 20px

		&--left
			left 20px

	&__nav-icon
		fill: $white
		width 25px
		height auto

		&--rotate
			transform: rotate(-180deg)

	&__slider-pagination
		display: none

		@media $lg
			display: block

			&.swiper-pagination
				position static

			& .swiper-pagination-bullet.swiper-pagination-bullet-active
				background: $orange

	&__cards-wrap
		display: grid
		grid-template-columns: repeat(auto-fill, 140px)
		grid-column-gap: 90px
		grid-row-gap: 90px

		@media $lg
			column-gap: 6%
			justify-content: space-around

		@media $md
			column-gap: 40px
			row-gap: 50px

	&__cards-wrap--width
		grid-template-columns: repeat(auto-fill, 271px)

		@media $md
			column-gap: 70px
			row-gap: 55px

	&__cards-wrap--jc
		justify-content: flex-start

	&__card
		width 100%
		display flex
		flex-direction: column

	&__card-img
		width: 100%
		margin-bottom 30px

	&__card-img--filter
		filter sepia(80%)

	&__card-content
		width 100%
		display: flex
		flex-direction: column
		align-items: flex-start
		height 100%

	&__card-title
		fz-15()
		line-height 24px
		font-family $Inter
		font-weight 500
		color $d-grey
		padding-bottom: 5px

	&__card-text
		fz-13()
		line-height 20px
		color $m-grey
		font-family $Inter
		padding-bottom 5px
		flex 1 1 auto

	&__card-btn
		fz-13()
		line-height 20px
		color:  $orange
		font-family $Inter
		border: 0
		background 0
		cursor pointer

	&__texts-wrap
		display flex
		flex-direction: row
		flex-wrap: wrap
		padding-bottom 100px

	&__cards-container
		width 100%

