extends ../../template/_layout

block pageVar
	-
		page = 'contacts';

block path
	-
		baseDir = '/f';

block title
	-
		title = 'Contacts';

block text
	-
		topTextCountry = 'Russia';
		topTextName = 'Roust Global Headquarters';
		topTextAddress = 'Novoorlovskaya Street 5 Moscow 119633 Russia';
		topTextTelephone = '+7 (495) 777-1-777';
		topTextMail = 'info@roust.com';

block page
	section.contacts
		.container
			ul.contacts__list.contacts__local
				li.contacts__li
					h3.contacts__li-title.contacts__li-title--factory Russian Standard Vodka Distillery
					p.contacts__li-address Pulkovskoye Shosse 46/2 St.Petersburg 196140 Russia
					p.contacts__li-tel +7 (812) 449-3111
					a(href="#").contacts__li-link Send message
				li.contacts__li
					h3.contacts__li-title.contacts__li-title--factory Russian Standard Vodka Spirits Production Center
					p.contacts__li-address Ul. Obiezdnaya, 2. Buinsk 422430. Russia
					p.contacts__li-tel +7 (843) 743-2490
					a(href="#").contacts__li-link Send message
				li.contacts__li
					h3.contacts__li-title.contacts__li-title--factory Topaz Distillery
					p.contacts__li-address Ul. Oktyabrskaya, 46. Pushkino 141201 Russia
					p.contacts__li-tel +7 (495) 993-5161
					a(href="#").contacts__li-link Send message
				li.contacts__li
					h3.contacts__li-title.contacts__li-title--factory Parliament Distillery
					p.contacts__li-address Ul. Popovka, area 5 Balashikha 143956 Russia
					p.contacts__li-tel +7 (495) 739-4040
					a(href="#").contacts__li-link Send message
				li.contacts__li
					h3.contacts__li-title.contacts__li-title--factory Bravo Premium
					p.contacts__li-address Ul. Kuznetsovskaya, 52, House 3, Lift A St.Petersburg 196105 Russia
					p.contacts__li-tel +7 (812) 336-4884
					a(href="#").contacts__li-link Send message
				li.contacts__li
					h3.contacts__li-title.contacts__li-title--factory Siberian Distillery
					p.contacts__li-address Kolcovo Village Siberian Distillery Industrial Zone №1 Novosibirsk Region 630559 Russia
					p.contacts__li-tel +7 (383) 363-3399
					a(href="#").contacts__li-link Send message
			ul.contacts__list.contacts__local
				li.contacts__li
					h2.contacts__title Poland
					.contacts__li-content
						h3.contacts__li-title CEDC Polska
						p.contacts__li-address Bobrowiecka 6, 00-728 Warsaw, Poland
						p.contacts__li-tel +48 (22) 456-6000
						a(href="#").contacts__li-link Send message
				li.contacts__li
					h3.contacts__li-title.contacts__li-title--factory Oborniki Distillery
					p.contacts__li-address ul. Kowanowska 48, 64-600 Oborniki Wielkopolskie, Poland
					p.contacts__li-tel +48 (61) 297-4300
					a(href="#").contacts__li-link Send message
				li.contacts__li
					h3.contacts__li-title.contacts__li-title--factory Białystok Distillery
					p.contacts__li-address ul. Elewatorska 20, 15-950 Białystok, Poland
					p.contacts__li-tel +48 (85) 651-0496
					a(href="#").contacts__li-link Send message
			ul.contacts__list.contacts__list-multi.contacts__local
				li.contacts__li
					h2.contacts__title United Kingdom
					.contacts__li-content
						h3.contacts__li-title Roust International
						p.contacts__li-address Eastside Offices, King’s Cross Station Euston Road, London, N1C 4AX United Kingdom
						p.contacts__li-tel + 44 (20) 3036 0020
						a(href="#").contacts__li-link Send message
				li.contacts__li
					h2.contacts__title USA
					.contacts__li-content
						h3.contacts__li-title Roust USA
						p.contacts__li-address 232 Madison Ave, Suite 1600, New York, NY 10016, United States
						p.contacts__li-tel +1 (212) 679-1894
						a(href="#").contacts__li-link Send message
				li.contacts__li
					h2.contacts__title Italy
					.contacts__li-content
						h3.contacts__li-title.contacts__li-title--factory Gancia
						p.contacts__li-address Corso Libertà 66, Canelli 14053, Italy
						p.contacts__li-tel +39 (0141) 8301
						a(href="#").contacts__li-link Send message
				li.contacts__li
					h2.contacts__title Hungary
					.contacts__li-content
						h3.contacts__li-title Roust Hungary
						p.contacts__li-address Alkotás Point Irodaház, Alkotás u. 50, 1123 Budapest, Hungary
						p.contacts__li-tel +36 1 325 25 00
						a(href="#").contacts__li-link Send message
				li.contacts__li
					h2.contacts__title Ukraine
					.contacts__li-content
						h3.contacts__li-title Roust Ukraine
						p.contacts__li-address 7b Lesi Ukrainki Blvd., office 105, Kyiv 01133, Ukraine
						p.contacts__li-tel +38 (044) 569-5757
						a(href="#").contacts__li-link Send message
				li.contacts__li
					h2.contacts__title Canada
					.contacts__li-content
						h3.contacts__li-title Roust Canada
						p.contacts__li-address 2275 Lakeshore Blvd West, Ste. 400, Toronto, ON M8V 3Y3, Canada
						p.contacts__li-tel +1 (416) 987-9873
						a(href="#").contacts__li-link Send message