// Box sizing rules
*,
*::before,
*::after
  box-sizing border-box

// Remove default margin
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd
  margin: 0

// Set core body defaults
body
  line-height: 1.5

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role='list'],
ol[role='list']
  list-style: none

// A elements that don't have a class get default styles
a:not([class])
  text-decoration-skip-ink auto

// Make images easier to work with
img,
picture
  width 100%
  display block

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select
  font inherit

// fix footer
html,
body
	height 100%
	font-family: $Inter

// remove padding
input,
button
	padding: 0

// remove opacity
input::placeholder
	opacity: 1

.footer
	flex 0 0 auto

// breakpoint
.container
	max-width 1150px
	padding 0 25px
	margin 0 auto

	@media $md
		padding 0 40px

	@media $xs
		padding: 0 20px

// for animation
.animate__opacity
	opacity: 0
	transform: translate(0px, -120%)

.main
	&--brands-item
		grid-area: 1 / -1
		transform: translate(0, 120%)
		transition: all 0.5s ease 0s
		display: flex
		flex-direction: column
		justify-content: flex-start

	&--animate
		transform: translate(0, 0)
		margin-top: 4vw

		@media (max-width: 1460px) {
			margin-top 7.5vw
		}
.btn
	height 46px
	display flex
	align-items center
	justify-content center
	font-weight 700
	font-size 15px
	line-height 18px
	color $d-grey
	text-decoration none
	background-color $white
	border 2px solid $d-grey
	padding 14px 58px
	cursor pointer
