// font-size
fz-13()
	font-size 13px

fz-14()
	font-size 14px
	@media $md
		font-size 12px

fz-15()
	font-size: 15px

fz-21()
	font-size 21px
	@media $md
		font-size 15px

fz-24()
	font-size 24px
	@media $md
		font-size 20px

fz-33()
	font-size 33px

fz-48()
	font-size 48px

fz-56()
	font-size 56px
	@media $md
		font-size 36px
		line-height 40px

fz-60()
	font-size: 60px
	@media $md
		font-size 40px

fz-75()
	font-size: 75px
	@media $md
		font-size 50px

// px to vw
get-vw(px, bp)
	(px * 100vw) / bp
