// fonts
$Inter = 'Inter',Helvetica,Arial,sans-serif;
$Georgia = 'Georgia',Helvetica,Arial,sans-serif;

// media
$xl = 'screen and (min-width: 1280px)';
$lg = 'screen and (max-width: 1279px)';
$md = 'screen and (max-width: 959px)';
$sm = 'screen and (max-width: 639px)';

//colors
$white = #ffffff;
$black = #000000;
$d-gray = rgba(50, 54, 57, 1);
$orange = #E33916;
$cian = #00F0FF;
