// fonts
$Inter = 'Inter',Helvetica,Arial,sans-serif;
$Georgia = 'Georgia',Helvetica,Arial,sans-serif;

// media
$xl = 'screen and (min-width: 1280px)';
$lg = 'screen and (max-width: 1279.9px)';
$md = 'screen and (max-width: 959.9px)';
$sm = 'screen and (max-width: 767.9px)';
$xs = 'screen and (max-width: 574px)';

//breakpoint
$width-xl = 1280px
$width-lg = 960px
$width-md = 768px
$width-sm = 575px
$width-xs = 320px

//colors
$white = #ffffff;
$black = #000000;
$d-grey = #323639;
$l-grey = #8794A0;
$m-grey = #596876;
$orange = #E33916;
$cian = #00F0FF;
$h-grey = #E3EBF1;
