// fonts
$Inter = 'Inter',Helvetica,Arial,sans-serif;
$Georgia = 'Georgia',Helvetica,Arial,sans-serif;

// media
$xl = 'screen and (min-width: 1280px)';
$lg = 'screen and (max-width: 1279px)';
$md = 'screen and (max-width: 959px)';
$sm = 'screen and (max-width: 639px)';

//breakpoint
$width-xl = 1280px
$width-lg = 960px
$width-md = 640px
$width-sm = 320px

//colors
$white = #ffffff;
$black = #000000;
$d-grey = #323639;
$l-gray = #8794A0;
$orange = #E33916;
$cian = #00F0FF;
