.screen
	// flex 1 1 100vh
	position: relative
	overflow: hidden
	width 100%
	padding: 149px 0 109px 0
	min-height 910px
	margin-bottom -37px

	@media $lg
		min-height: 572px

	@media $md
		flex: 1 1 100%
		padding: 90px 0 20px 0

	@media $sm
		min-height 545px

	&:not(:first-child)
		clip-path: polygon(100% 35px, calc(50% + 50px) 35px, 50% 0, calc(50% - 50px) 35px, 0 35px, 0px 100%, 100% 100%)

	&:first-child
		@media (min-width 1441px)
			flex 1 1 100%
			min-height: 575px

		@media (max-width: 1440px)
			min-height 33vw

		@media $lg
			flex 1 1 100%
			min-height 46vw

		@media $xs
			min-height: 100vw

	&:last-child
		margin-bottom calc(-37px * 3)

	&--background
		background $white

	&--bg-before
		@media $xs
			&::before
				content: ''
				display block
				position: absolute
				width 100%
				height 100%
				background rgba(255, 255, 255, 0.8)
				top 0
				left 0
				z-index 2

	&.swiper
		width 100%
		z-index 0

	&__video-wrap
		width: 100%
		height: 100%
		position fixed
		top: 0
		left: 0

	&__video
		width: 100%
		height: 100%

		@media $xs
			height auto

	&__video-item
		width: 100%
		height: 100%
		object-fit: cover
		display: block

		@media $md
			object-fit: contain
			object-position: top

		@media $xs
			object-fit: cover

	&__video-img
		position absolute
		width: 100%
		height 100%
		top 0
		left 0
		overflow hidden

	&__icon-wrap
		position: absolute
		display: block
		text-align: center
		z-index 2
		top: 46px
		left: 0
		right: 0

	&__icon
		width: 14px
		height: 9px
		fill: $white

	&__icon--color
		fill: $d-grey

	&__icon--fill
		@media $xs
			fill: $d-grey

	&__content-img
		position absolute
		right 0
		top 0
		width 100%
		height 100%
		display flex
		align-items: center

		@media $md
			position static

		@media $sm
			align-items: flex-start

		@media $xs
			margin-bottom 25px

	&__content-img--gancia
		max-width 218px

		@media $md
			max-width 122px

	&__content-img--gm
		max-width: 316px

		@media $md
			max-width 162px

	&__content-img--pm
		max-width 185px

		@media $md
			max-width 93px

	&__content-img--talka
		max-width 215px

		@media $md
			max-width 113px

	&__slider-wrap
		min-height: inherit

	&__imgs-wrap
		display: flex
		justify-content: center
		align-items: flex-start

	&__img-animate
		grid-area: 1/-1
		position relative
		transition: ease 0s all 0s

		&.screen__img-animate--on
			transition: ease 0s all 0s

		&--rs
			max-width: 186px
			z-index 1
			transform: translate(0%, 7%)

		&--gancia
			max-width: 173px
			z-index -1
			transform: translate(0%, 18%)

			&.screen__img-animate--on
				transform: translate(155%, 18%)

		&--gancia2
			max-width: 109px
			z-index -3
			transform: translate(0%, 40%)

			&.screen__img-animate--on
				transform: translate(428%, 40%)

		&--zm
			max-width: 283px
			z-index: -4
			transform: translate(0%, 26%)

			&.screen__img-animate--on
				transform: translate(-139%, 26%)

		&--gancia3
			max-width: 321px
			z-index: -2
			transform: translate(0%, 36%)
			&.screen__img-animate--on
				transform: translate(120%, 36%)

		&--pm
			max-width: 103px
			z-index: -5
			transform: translate(0%, 35%)

			&.screen__img-animate--on
				transform: translate(-450%, 35%)

		&--talka
			max-width: 130px
			z-index: -2
			transform: translate(0%, 15%)

			&.screen__img-animate--on
				transform: translate(-200%, 15%)

		&--rsplatinum
			max-width: 147px
			transform translate(0%, 14%)

			&.screen__img-animate--on
				transform translate(95%, 14%)

		&--rsgold
			transform translate(0%, 16%)

			&.screen__img-animate--on
				transform translate(-30%, 16%)

	&__img-wrap
		position absolute
		width: 100%
		height 100%
		top: 0
		left 0
		z-index 1

	&__img-wrap picture
		height: 100%

	&__img-wrap img
		height: 100%
		object-fit: cover
		object-position: center

	&__img-wrap img
		@media $xs
			object-position: top

	&__img-wrap--o-position
		@media $sm
			img
				height: 100%
				object-fit: cover
				object-position: 25%

	&__img-wrap--center
		max-width: 1087px
		bottom 0
		left unset

		@media $lg
			width: 80%

	&__img-wrap--center picture,
	&__img-wrap--center img
		height: auto
		position relative
		bottom -100px

		@media $lg
			bottom get-vw(-70, $width-lg)

	&__img-wrap--desk
		display: grid
		align-items: center
		justify-items: center

		@media $md
			display: none

	&__img-wrap--mob
		display: none

		@media $md
			display flex
			flex-direction column
			justify-content flex-end
			width 70%
			right: 40px

		@media $sm
			right 0
			width 85%

		@media $xs
			width 95%
			right 10px

	&__img-wrap--height
		@media (min-width: 575px) and (max-width: 767px)
			height: 150%

	&__slide.swiper-slide
		height: auto

	&__content
		padding: 0 25px 20px 25px
		max-width: 1150px
		position: relative
		z-index: 1
		margin: 0 auto

		@media $lg
			padding 0 25px 10px 25px

		@media $md
			padding 0 40px 30px 40px

		@media $sm
			padding: 0 20px 20px 20px

	&__content--padding
		@media $lg
			padding: 117px 25px 165px 25px

		@media $md
			padding 109px 0 65px
			margin-bottom 65px

		@media $sm
			position relative
			z-index 3

	&__content--grid
		display grid
		grid-template-columns repeat(2, 50%)
		grid-template-rows 1fr auto
		align-items flex-end
		height 100%
		min-height inherit

		@media $lg
			grid-template-columns: auto min-content

		@media $md
			flex-direction column
			align-items flex-end
			padding-bottom 120px

		@media $sm
			grid-template-columns: 0.7fr 1fr

		@media $xs
			grid-template-columns 1fr
			align-items center

	&__content--slider
		padding: 149px 25px 55px 25px
		height 100%

		@media $lg
			display: flex
			flex-direction: row
			justify-content: space-between

		@media $md
			padding: 90px 40px 125px 40px

		@media $sm
			padding-bottom: 20px

		@media $xs
			padding-left: 20px
			padding-right 20px
			flex-direction: column-reverse
			align-items: center

	&__inner
		max-width 45%

		@media $md
			max-width: 50%
			padding-bottom 93px

		@media $xs
			max-width 100%

	&__inner--last
		@media $sm
			padding-bottom 28%

	&__inner--bg
		background-color: $white
		padding 49px 62px
		max-width: 455px

		@media $md
			max-width: 50%
			padding: 49px 40px

		@media $sm
			padding: 49px 20px

		@media $xs
			max-width: 100%
			background 0
			padding: 0 20px

		& .screen__title
			padding-bottom: 31px

	&__inner--column
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-end
		padding: 0

	&__inner--slider
		@media $lg
			padding-bottom 335px

		@media $md
			padding-bottom 177px

		@media $sm
			padding-bottom 140px

		@media $xs
			width 100%
			padding-bottom 180px

	&__inner--top
		@media $xs
			padding-top 95%

	&__inner--padding
		padding-bottom 44%

		@media $md
			padding-bottom 14%

	&__title
		fz-75()
		color: $white
		font-family: $Georgia
		font-weight: bold
		line-height 100%
		padding-bottom: 50px

		@media $lg
			padding-bottom 20px

	&__title--fonts
		fz-60()
		padding-bottom: 35px
		font-weight: 900
		font-family: $Inter
		text-transform: uppercase

		@media $md
			padding-bottom 13px
			grid-column: 2
			grid-row: 1

		@media $xs
			grid-column: 1

	&__title--color
		color: $d-grey
		padding: 0

	&__title--padding
		padding-bottom 66px

		@media $md
			padding-bottom 31px

	&__text
		fz-15()
		font-weight: 500
		font-family: $Inter
		color: $white
		line-height 24px
		padding-bottom: 72px

		@media $lg
			padding-bottom 40px

	&__text--padding
		fz-21()
		padding-bottom 55px
		max-width: 556px

		@media $md
			padding-bottom 40px

	&__text--color
		color: $d-grey
		padding-bottom 30px

	&__text--md
		@media $md
			font-size: 20px
			line-height 24px
			font-weight 700
			padding-bottom 45px

	&__text--fz
		font-size: 15px
		padding-bottom 79px

		@media $md
			padding-bottom 95px

	&__link
		fz-15()
		display block
		line-height 18px
		text-decoration: none
		padding: 12px 58px
		border: 1px solid $white
		font-weight bold
		color: $white
		max-width 158px
		grid-column: 1

		@media $md
			grid-column: 2
			grid-row: 3

		@media $xs
			grid-column: 1

	&__link--color
		color: $d-grey
		border-color: $d-grey

	&__link-text
		color $white
		position relative
		z-index 1

	&__link-text--color
		color $d-grey

	&__nav-btn
		border: 0
		background: 0
		cursor pointer
		display: block
		position absolute
		left: calc(5% - 51px)
		top: 50%
		transform: translate(0, -50%)
		z-index 99999
		opacity: 0.5

		@media $lg
			display: none

		&:disabled
			opacity: 0.5

		&:not(:disabled)
			opacity: 1

		&--next
			transform: translate(0, -50%) rotate(-180deg)
			left: unset
			right: calc(5% - 51px)

	&__nav-icon
		width: 51px
		height: 12px
		fill: $white

	&__nav-icon--color
		fill: $d-grey

	&__pagination
		position absolute
		z-index 99999999999999
		margin: 0 auto
		max-width: 1150px
		padding: 0 25px
		bottom: 10%
		left: 0
		right: 0

		@media $lg
			bottom: 70px

		@media $md
			padding: 0 40px
			bottom: 80px

		@media $sm
			padding: 0 20px
			bottom: 10px
			margin-bottom 30px

		@media $xs
			bottom 40px
			margin-bottom 60px

	&__p-container
		max-width: 655px
		height: 60px

		@media $md
			max-width: 100%
			height: auto

	&__p-list
		width 100%
		list-style: none
		padding: 0
		margin 0
		display: flex
		align-items: center
		justify-content: space-between

	&__p-item
		opacity: 0.5

		@media $md
			max-width: 80px

	&__p-btn
		background: 0
		border 0
		cursor: pointer
		display: block
		width: 100%
		height: 100%

	&__p-btn--active
		opacity: 1

	&__in-box
		display: flex
		flex-direction: column
		justify-content: flex-start

		&:not(:last-child)
			padding-bottom 70px

			@media $md
				padding-bottom 40px

	&__sub-title
		fz-24()
		line-height 32px
		color: $white
		font-weight bold
		padding-bottom 101px

		@media $md
			padding-bottom 34px

	&__o-list
		list-style: none
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: flex-start
		margin 0
		padding 0
		counter-reset: itemCounter

		@media $md
			flex-direction: column

	&__o-item
		flex: 1
		position relative

		@media $md
			display inline-flex
			flex-direction: row
			justify-content: flex-start
			align-items: center

		&:before
			fz-15()
			line-height 24px
			counter-increment: itemCounter
			content: counter(itemCounter)
			color: $white
			min-width: 40px
			width: 40px
			height: 40px
			display: flex
			align-items: center
			justify-content: center
			border: 2px solid $orange
			border-radius: 50%
			position: absolute
			top: -@height - 15px
			left: 0

			@media $md
				position relative
				top unset
				left unset
				margin-right 12px

		&:not(:last-child)
			margin-right 60px

			@media $md
				margin 0
				padding-bottom 30px

			&:after
				position: absolute
				left 50px
				top -38px
				content: ''
				width 100%
				height 2px
				background-color rgba(255,255,255,0.2);

				@media $md
					display: none

	&__o-text
		fz-15()
		line-height 24px
		color: $white
		font-weight 500
		text-align: left

	&__o-button
		fz-15()
		color: $orange
		background: 0
		border: 0
		border-radius: 0
		cursor pointer

	&__title-wrap
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding-bottom: 90px

		@media $lg
			padding-bottom 32px

		@media $md
			justify-content: center

		@media $sm
			justify-content: space-between

	&__title-link
		fz-15()
		line-height 18px
		color: $black
		font-weight: 700
		text-decoration: none

		@media $md
			margin-left 130px

		@media $sm
			margin-left 20px

	&__dl
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: space-between
		grid-column: 2
		grid-row: 1 / -1
		height 100%

		@media $md
			grid-row: 2
			padding-bottom 70px

		@media $xs
			grid-column: 1

	&__d-wrap
		display: flex
		flex-direction: column
		align-items: flex-start

		&:not(:last-child)
			padding-bottom: 40px

			@media $md
				padding-bottom 30px

	&__dt
		fz-56()
		font-family $Georgia
		font-weight bold
		line-height 63px
		color: $cian
		padding-bottom: 5px

		@media (max-width: 374px)
			font-size: get-vw(32, 320)

	&__dd
		fz-24()
		line-height 32px
		color: $white
		font-weight bold

		@media (max-width: 374px)
			font-size get-vw(18, 320)

	&__prev-text
		fz-21()
		font-weight 500
		line-height 29px
		color: $cian
		padding-bottom 30px

		@media $md
			font-size: 21px

	&__contacts
		padding-bottom 54px
		max-width: 363px

		@media $md
			padding-bottom 72px

	&__text-title
		fz-21()
		font-weight 500
		line-height 29px
		padding-bottom 25px
		color: $white

		@media $md
			font-size 21px

	&__contacts-list
		list-style: none
		padding 0
		margin 0
		display: flex
		flex-direction: column

	&__contacts-item
		fz-15()
		line-height 24px
		color: $white

		&:not(:last-child)
			padding-bottom 15px

	&__contacts-link
		fz-15()
		line-height 24px
		text-decoration: none
		color: $white

	&__contacts-btn
		fz-15()
		line-height 18px
		color: $white
		background: 0
		border-radius: 0
		border: 1px solid $white
		padding: 11px 60px
		cursor pointer

	&__contacts-btn-text
		position relative
		z-index 1
