.screen
	flex 1 1 100vh
	position: relative
	overflow: hidden

	&:first-child
		margin-bottom -325px

	&:last-child
		margin-bottom get-vw(-180, $width-xl)

	&:not(:last-child, &:first-child)
		margin-bottom get-vw(-40, $width-xl)

	@media $xl
		min-height: 909px

	&__video-wrap
		width: 100%
		position fixed
		top: 0
		left: 0
		height: 100%

	&__video
		width: 100%
		height: 100%

	&__video-item
		width: 100%
		height: 100%
		object-fit: cover
		display: block

	&__video-img
		position absolute
		width: 100%
		height 100%
		top 0
		left 0
		overflow hidden

	&__icon-wrap
		position: absolute
		display: block
		text-align: center
		z-index 1
		top: 46px
		left: 0
		right: 0

	&__icon
		width: 14px
		height: 9px
		fill: $white

	&__icon--color
		fill: $d-grey

	&__imgs-wrap
		display: flex
		justify-content: center
		align-items: flex-start

	&__img-wrap
		position absolute
		width: 100%
		height 100%
		top: 0
		left 0

	&__img-wrap picture
		height: 100%

	&__img-wrap img
		height: 100%
		object-fit: cover
		object-position: top

	&__img-wrap--center
		max-width: 1087px
		top unset
		bottom get-vw(-160, $width-xl)
		transform: translateY(-@bottom)
		left unset

	&__img-wrap--center picture,
	&__img-wrap--center img
		height: auto

	&__content
		padding: 149px 25px 20px 25px
		max-width: 1150px
		position: relative
		z-index: 1
		margin: 0 auto

	&__content--flex
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		height: 100%
		padding-bottom: 120px

	&__inner
		max-width: 639px
		padding-bottom: 169px

	&__inner--bg
		background-color: $white
		padding 49px 62px
		max-width: 455px

		& .screen__title
			padding-bottom: 31px

	&__inner--column
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-end
		padding: 0;

	&__title
		fz-75()
		color: $white
		font-family: $Georgia
		font-weight: bold
		line-height 100%
		padding-bottom: 50px

	&__title--fonts
		fz-60()
		padding-bottom: 35px
		font-weight: 900
		font-family: $Inter
		text-transform: uppercase

	&__title--color
		color: $d-grey
		padding: 0

	&__title--padding
		padding-bottom 66px

	&__text
		fz-15()
		font-weight: 500
		font-family: $Inter
		color: $white
		line-height 24px
		padding-bottom: 72px

	&__text--padding
		fz-21()
		padding-bottom 55px
		max-width: 556px

	&__text--fz
		fz-15()

	&__text--color
		color: $d-grey
		padding-bottom 30px

	&__link
		fz-15()
		line-height 18px
		text-decoration: none
		padding: 12px 58px
		border: 1px solid $white
		font-weight bold
		color: $white

	&__link--color
		color: $d-grey
		border-color: $d-grey

	&__nav-btn
		border: 0
		background: 0
		cursor pointer
		display: block
		position absolute
		left: 90px
		top: 50%
		transform: translate(0, -50%)
		z-index 99999
		opacity: 0.5

		&:disabled
			opacity: 0.5

		&:not(:disabled)
			opacity: 1

		&--next
			transform: translate(0, -50%) rotate(-180deg)
			left: unset
			right: 90px

	&__nav-icon
		width: 51px
		height: 12px
		fill: $white

	&__nav-icon--color
		fill: $d-grey

	&__pagination
		position absolute
		z-index 99999999999999
		margin: 0 auto
		max-width: 1150px
		padding: 0 25px
		bottom: 20%
		left: 0
		right: 0

	&__p-container
		max-width: 655px
		height: 60px

	&__p-list
		width 100%
		list-style: none
		padding: 0
		margin 0
		display: flex
		align-items: center
		justify-content: space-between

	&__p-item
		opacity: 0.5

	&__p-btn
		background: 0
		border 0
		cursor: pointer
		display: block
		width: 100%
		height: 100%

	&__p-btn--active
		opacity: 1

	&__in-box
		display: flex
		flex-direction: column
		justify-content: flex-start

		&:not(:last-child)
			padding-bottom 70px

	&__sub-title
		fz-24()
		line-height 32px
		color: $white
		font-weight bold
		padding-bottom 101px

	&__o-list
		list-style: none
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: flex-start
		margin 0
		padding 0
		counter-reset: itemCounter

	&__o-item
		flex: 1
		position relative

		&:before
			fz-15()
			line-height 24px
			counter-increment: itemCounter
			content: counter(itemCounter)
			color: $white
			width: 40px
			height: 40px
			display: flex
			align-items: center
			justify-content: center
			border: 2px solid $orange
			border-radius: 50%
			position: absolute
			top: -@height - 15px
			left: 0

		&:not(:last-child)
			margin-right 60px

			&:after
				position: absolute
				left 50px
				top -38px
				content: ''
				width 100%
				height 2px
				background-color rgba(255,255,255,0.2);

	&__o-text
		fz-15()
		line-height 24px
		color: $white
		font-weight 500
		text-align: left

	&__o-text--color
		color: $orange

	&__title-wrap
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding-bottom: 90px

	&__title-link
		fz-15()
		line-height 18px
		color: $black
		font-weight: 700
		text-decoration: none

	&__dl
		width: 45%
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: space-between

	&__d-wrap
		display: flex
		flex-direction: column
		align-items: flex-start

		&:not(:last-child)
			padding-bottom: 40px

	&__dt
		fz-56()
		font-family $Georgia
		font-weight bold
		line-height 63px
		color: $cian
		padding-bottom: 5px

	&__dd
		fz-24()
		line-height 32px
		color: $white
		font-weight bold

	&__prev-text
		fz-21()
		font-weight 500
		line-height 29px
		color: $cian
		padding-bottom 30px

	&__contacts
		padding-bottom 54px
		max-width: 363px

	&__text-title
		fz-21()
		font-weight 500
		line-height 29px
		padding-bottom 25px
		color: $white

	&__contacts-list
		list-style: none
		padding 0
		margin 0
		display: flex
		flex-direction: column

	&__contacts-item
		fz-15()
		line-height 24px
		color: $white

		&:not(:last-child)
			padding-bottom 15px

	&__contacts-link
		fz-15()
		line-height 24px
		text-decoration: none
		color: $white

	&__contacts-btn
		fz-15()
		line-height 18px
		color: $white
		background: 0
		border-radius: 0
		border: 1px solid $white
		padding: 11px 60px
		cursor pointer
