.g-template
	&__container
		display: block;
		text-align: center;
		background-color: rgba(0,0,0,0.9);
		z-index: 99999999;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0
		bottom: 0
		left 0
		overflow: auto

		@media $lg
			display flex
			align-items: center
			justify-content: center

		&::before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	&__wrap
		opacity: 0
		position: relative
		width: 100%
		max-width: get-vw(1100, 1680)
		display: inline-block;
		vertical-align: middle;
		transition: all 1s ease 0s

		@media $md
			max-width: 1100px

	&__wrap--active
		opacity: 1
		transition: all 1s ease 0s

	&__list
		list-style none
		padding 0
		margin 0
		width: 100%

	&__item
		width: 100%
		margin 0 auto
		text-align: left
		position relative

	&__img
		position relative
		margin-bottom 30px
		height: get-vw(618, 1680)

		@media $md
			height auto

	&__img img
		height 100%
		object-fit: cover

		@media $md
			height auto

	&__btn
		background: $d-grey
		border: 0
		border-radius: 50%
		width: 65px
		height 65px
		position: absolute
		top: 28px
		right: 28px
		display flex
		flex-direction: column
		align-items: center
		justify-content: center
		cursor pointer
		z-index 99

		@media $sm
			width 35px
			height 35px
			top 10px
			right 10px

	&__icon
		stroke: $white
		fill: none
		width: 22px
		height: 22px

	&__title
		fz-24()
		line-height 32px
		color $white
		font-weight 700
		padding-bottom 5px
		font-family $Inter

		@media (max-width: 1099.9px)
			padding-right 20px
			padding-left 20px

	&__text
		fz-21()
		line-height 29px
		color $white
		font-weight 500
		font-family $Inter

		@media (max-width: 1099.9px)
			padding-right 20px
			padding-left 20px

	&__nav-btn
		background: $d-grey
		border: 0
		border-radius: 50%
		width: 65px
		height 65px
		position: absolute
		top: calc(50% - (65px / 2))
		display flex
		flex-direction: column
		align-items: center
		justify-content: center
		cursor pointer
		z-index 99

		@media $md
			display none

		&:disabled
			opacity 0.5

		&--left
			left: 8%

			@media $lg
				left 20px

			& .g-template__nav-icon
				transform: rotate(-180deg)

		&--right
			right: 8%

			@media $lg
				right 20px

	&__nav-icon
		fill: $white
		stroke: none
		width: 14px
		height 14px
