.brands-item
	width: 100%
	position relative

	&--color
		background $white
		height: 100%

		@media $sm
			max-width: 100vw
			overflow: hidden

	&--width
		@media $lg
			width 100vw
			max-width: 100%

	&__top-container
		@media $md
			padding-top 20px
	// 	transition: all 0.3s ease 0s

	// &__top-container--animate
	// 	padding 0 120px
	// 	margin: 0
	// 	margin-left auto

	&__news-section
		@media $sm
			width 100vw

	&__breadcrumbs
		@media $xl
			padding-bottom get-vw(56, 1680)
		@media $md
			display: none

	&__container
		padding: 0
		max-width: unset
		margin 0

		&--padding
			padding: 0
			max-width: unset
			margin: 0
			margin-bottom 1px
			border-bottom: 1px solid #e6e8ea

			@media $xl
				overflow hidden

	&__header-wrap
		padding-bottom 0

	&__wrap
		width: 50%
		transform: translate(0px, 120%);
		opacity: 0
		transition: all 0.8s ease 0s;

		@media $lg
			transform: none
			width 100%
			opacity: 1
			display: flex
			flex-direction: row
			flex-wrap: wrap

		@media (max-width: 640px)
			flex-wrap: nowrap

	&__wrap--active
		transform: translate(0px, 0px)
		opacity: 1
		margin-top: 0

	&__content
		width: 100%
		display: grid

		@media $lg
			display: block
			height: auto
			width 50%

		@media (max-width: 640px)
			order: 1

			&.swiper-slide
				height: auto

	&__content--mobile
		display: none

		@media $lg
			display block

		@media (max-width: 640px)
			order 0

	&__img-slider
		grid-area: 1 / -1
		width: 100%

		@media $lg
			position: absolute
			top 0
			left 0
			width 50%
			height: 100%

			&.swiper
				position: absolute

		@media (max-width:640px)
			width 100%

	&__img
		width: 100%
		height: 100%

		& img,
		& picture
			height: 100%
			object-fit: cover

	&__nav-btn
		border: 0
		border-radius: 50%
		background: $m-grey
		position: absolute
		top: calc(50% - 65px / 2)
		z-index 99
		transform: rotate(90deg)
		width: 65px
		height 65px
		cursor pointer

		&:disabled
			opacity: 0.5

		@media $lg
			width 45px
			height 45px
			top: calc(50% - 45px / 2)

		@media (max-width: 768px)
			display none

	&__nav-btn--next
		right: 40px
		transform: rotate(-90deg)

		@media $md
			right 5px

	&__nav-btn--prev
		left: 40px

		@media $md
			left 5px

	&__icon
		fill: $white
		width: 14px
		height: 9px

	&__text-slider.swiper
		grid-area: 1 / -1
		margin auto 190px auto auto
		max-width: 363px

		@media $lg
			margin: 60px auto
			max-width: 83.6%

		@media $md
			margin 40px auto

		@media $xs
			margin: 40px 0 40px auto

	&__text-wrapper.swiper-wrapper
		display: grid
		grid-auto-flow: column

		@media $lg
			display flex

	&__text-block
		display: flex
		flex-direction: column
		justify-content: flex-start
		background: $white
		position relative
		padding: 50px
		text-align: left
		opacity: 0
		transition: all 0.8s ease 0.3s

		@media $lg
			opacity: 1

			&.swiper-slide
				height: auto

		@media $md
			padding: 5%

		@media $sm
			padding 3%

		@media (max-width: 640px)
			padding 8%

		&--animate
			opacity: 1

	&__title
		fz-48()
		font-family $Georgia
		line-height 100%
		color: $d-grey
		padding-bottom 56px
		font-weight bold

		&--color
			color: $orange

	&__text
		fz-15()
		line-height 24px
		font-family $Inter
		font-weight medium
		color: $d-grey

	&__inner
		max-width: 1680px
		margin: 0 auto
		padding-left: 63px
		display: flex
		flex-direction: row

		@media $lg
			flex-wrap: wrap
			padding: 0

	&__box
		padding: 45px 0
		max-width: 360px
		text-align: left
		flex: 1 0 360px
		border-right: 1px solid #e6e8ea

		@media $lg
			width 100%
			max-width: 100%
			flex: 1 0 100%
			padding: 45px 63px

	&__s-title
		fz-33()
		line-height 100%
		color: $d-grey
		padding-bottom 4px
		font-family $Inter
		font-weight 900

	&__text
		fz-15()
		font-family $Inter
		font-weight 500
		color: $m-grey

		&--fz
			fz-21()
			color: $d-grey
			line-height 29px

	&__slide
		flex: 1
		overflow hidden

		&.swiper
			width 100%

			@media $sm
				overflow: unset

	&__list
		list-style: none
		display: flex
		flex-direction: row
		padding 0
		margin 0

	&__item
		// flex: 1
		max-width: 360px
		border-left: 1px solid #e6e8ea

		@media $xl
			&:first-child
				border-left: 0

		@media $lg
			border-left: 0

			&:not(:last-child)
				border-right: 1px solid #e6e8ea

		@media $md
			max-width: 384px

		@media $xs
			max-width: 100%

		// &:before
		// 	content: ''
		// 	transform: translateX(100%)
		// 	width 0
		// 	background-color $orange
		// 	height 2px
		// 	position: absolute
		// 	bottom 0
		// 	display block
		// 	z-index 1
		// 	transition: all 1s ease 0s

		// &.swiper-slide-thumb-active:before
		// 	width 100%
		// 	transform: translateX(0)

	&__btn
		background: 0
		border: 0
		border-radius: 0
		cursor pointer
		display: flex
		flex-direction: row
		padding: 55px 46px
		position relative
		width: 100%

		@media $sm
			padding-right 50%

		&:hover
			background: $h-grey

	&__btn--mobile
		display: none
		@media (max-width: 640px)
			display: block
			padding: 0
			width 65px
			height 65px
			position: absolute
			z-index 11
			background-color: #596876
			background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.39485 7.03394L-5.37893e-07 1.76084L1.8 0.00146953L8.99485 7.03394L1.8 14.0664L-7.69047e-08 12.307L5.39485 7.03394Z' fill='white'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat
			background-position 50% 50%
			border-radius: 50%
			top: calc(50% - (65px / 2))
			right: 20px

	&__btn--mobile-prev
		right: unset
		left: 20px
		background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.60515 7.96606L9 13.2392L7.2 14.9985L0.00514858 7.96606L7.2 0.933594L9 2.69297L3.60515 7.96606Z' fill='white'/%3E%3C/svg%3E%0A");

	&__text-box
		display: block

	&__picture
		display: block
		position: absolute
		right: 0
		bottom: 0

		@media $sm
			width 100%
			max-width: 45%

	&__scroll-wrap
		width: 100%
		position relative

		@media $xl
			overflow hidden

		// @media (max-width: 640px)
		// 	overflow: hidden

	&__scroll
		position: absolute
		bottom: 0
		left: 0
		background: $orange
		height: 5px
		z-index 1
		transition: all 0.3s ease 0s

		@media $xs
			width 100%

	&__bg-img
		position: absolute
		width 100%
		height 100%
		top 0
		left 0

		& img
			width 100%
			height 100%
			object-fit: cover

	&__mob-slider
		height 100%

	&__mob-img
		width 100%
		margin 0 auto
		display flex
		flex-direction: row
		align-items: center
		justify-content: center

		@media (max-width: 640px)
			margin: auto

		& img,
		& picture
			max-width: 109px
