extends ../template/_layout

block pageVar
	-
		page = 'index';

block path
	-
		baseDir = '/f';

block page
	section.sub
		.container
			h1.sub__title
				img(src=`${baseDir}/img/roust-logo.svg`)
			ul.sub__list
				li.sub__item
					a(href="main-page/index.html").sub__link Main page
				li.sub__item
					a(href="brands/index.html").sub__link Brands
				li.sub__item
					a(href="catalog-brands/index.html").sub__link Catalog-brands
