extends ../template/_layout

block pageVar
	-
		page = 'index';

block path
	-
		baseDir = '/f';

block page
	section.sub
		.container
			h1.sub__title
				img(src=`${baseDir}/img/roust-logo.svg`)
			ul.sub__list
				li.sub__item
					a(href="main-page/index.html").sub__link Main page
				li.sub__item
					a(href="brands/index.html").sub__link Brands
				li.sub__item
					a(href="brands/brands-item/index.html").sub__link Brands-item
				li.sub__item
					a(href="partnership/index.html").sub__link Partnership
				li.sub__item
					a(href="catalog-brands/index.html").sub__link Catalog-brands
				li.sub__item
					a(href="career/index.html").sub__link Career
				li.sub__item
					a(href="social-projects/index.html").sub__link Social projects
				li.sub__item
					a(href="media/index.html").sub__link Media Center
				li.sub__item
					a(href="contacts/index.html").sub__link Contacts
				li.sub__item
					a(href="about-us/index.html").sub__link About-us
				li.sub__item
					a(href="investors/index.html").sub__link Investors
