extends ../../../template/_layout

block pageVar
	-
		page = 'investors-news';

block path
	-
		baseDir = '/f';

block title
	-
		title = 'Investor news';

block page
	section.investors-news
		.container
